<div class="css_row">
  <div class="css_cell css_title_cell bg-info">
    <% if show_sent %>
      Recipient
    <% else %>
      Sender
    <% end %>
  </div>
  <div class="css_cell css_title_cell bg-info">
    Sent
  </div>
  <div class="css_cell css_title_cell bg-info">
    Subject
  </div>
</div>
