<%= render "messages_table_header" %>
<% messages.each do |message| %>
  <% if message.unread? %>
    <div class="css_row alert-danger">
  <% else %>
    <div class="css_row">
  <% end %>
    <%= render message %>
  </div>
  <hr>
<% end %>
