<% provide(:title, "View Message") %>

<% message.read! if current_user.id == message.recipient_user_id %>

<h2>
  <%= message.subject %>
</h2>

<h3>
  From: <%= User.find(message.sender_user_id).full_name %>
</h3>

<h3>
  To: <%= User.find(message.recipient_user_id).full_name %>
</h3>

<h5>
  <%= message.content %>
</h5>
