<% provide(:title, "Jobs") %>

<h2><%= company.title %> Jobs</h2>

<div class="outer_wrapper">
  <div class="btn-group">
    <%= link_to "New Job", new_job_path(company_id: params[:company_id]),
      class: "btn btn-success",
      id: "new_job_button", method: :get %>
  </div>
    <div class="css_table">
      <div class="css_tbody">
        <% jobs.each do |job| %>
          <div class="css_row">
            <%= render job %>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
</div>
