<% provide(:title, "New Job") %>

<div class="form_wrapper" id="new-job-panel">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>
        New Job
      </h4>
    </div>
    <div class="panel-body">
      <%= render "form" %>
    </div>
  </div>
</div>
