<div class="panel-container">
  <div class="panel panel-primary inline-panel">
    <div class="panel-heading">
      <h3 class="panel-title">Currently clocked in</h3>
    </div>
    <div class="css_table">
      <div class="css_tbody">
        <%= render "clocked_in_table_body" %>
      </div>
    </div>
  </div>
</div>
