<div class="panel panel-primary" id="pay-dates-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Upcoming Pay Dates</h3>
  </div>

  <div class="panel-body">
    <% jobs.each do |job| %>
      <% if job.pay_periods.empty? %>
        <%= upcoming_pay_date_header(job.company.title, job.title, false) %>
        <% next %>
      <% elsif ( latest_pp = latest_pay_period(job) ).pay_date < Time.zone.now
        .to_date %>
        <%= upcoming_pay_date_header(job.company.title, job.title, false) %>
      <% else %>
        <%= upcoming_pay_date_header(job.company.title, job.title, true,
          latest_pp.pay_date) %>
      <% end %>
    <% end %>
  </div>
</div>
