<% provide(:title, "Home") %>

<% if logged_in? && current_user.is_an_admin? %>
  <%= render "admin_home" %>
<% elsif logged_in? %>
  <%= render "employee_home" %>
<% else %>
  <body id="home-body">
    <% unless logged_in? %>
      <div class="jumbotron">
        <h2>Welcome to the Fountain House Timesheet Portal</h2>
        <p>Please sign in to continue.</p>
        <%= link_to "Sign in", login_path, class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </body>
<% end %>
