<% provide(:title, "Companies") %>

<h2>Companies</h2>

<div class="outer_wrapper">
  <div class="btn-group">
    <%= link_to "New Company", new_company_path, class: "btn btn-success",
      id: "new_company_button", method: :get %>

    <% if params[:show_inactive] %>
      <%= link_to "Show Active Companies", companies_path,
        class: "btn btn-primary", id: "show_active_companies_button",
        method: :get %>
    <% else %>
      <%= link_to "Show Archived Companies",
        companies_path(show_inactive: true), class: "btn btn-warning",
        id: "show_inactive_companies_button", method: :get %>
    <% end %>
  </div>
    <div class="css_table">
      <div class="css_tbody">
        <% companies.each do |company| %>
          <div class="css_row">
            <%= render company %>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
</div>
