<% provide(:title, "New Company") %>

<div class="form_wrapper" id="new-company-panel">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>
        New Company
      </h4>
    </div>
    <div class="panel-body">
      <%= render "form" %>
    </div>
  </div>
</div>
