<div class="css_cell">
  <%= link_to ("#{pay_period.start_date.strftime("%m/%d/%Y")} - " +
    pay_period.end_date.strftime("%m/%d/%Y")),
    timesheets_path(job_id: params[:job_id], pay_period_id: pay_period.id) %>
</div>
