<div class="css_row">
  <div class="css_cell css_title_cell bg-info">
    Company
  </div>
  <div class="css_cell css_title_cell bg-info">
    Job
  </div>
  <div class="css_cell css_title_cell bg-info">
    Employee
  </div>
  <div class="css_cell css_title_cell bg-info">
    Hourly Pay
  </div>
  <div class="css_cell css_title_cell bg-info">
    Pay Type
  </div>
  <div class="css_cell css_title_cell bg-info">
    Clock in
  </div>
  <div class="css_cell css_title_cell bg-info">
    Clock out
  </div>
  <div class="css_cell css_title_cell bg-info">
    Edit
  </div>
  <div class="css_cell css_title_cell bg-info">
    Hours
  </div>
  <div class="css_cell css_title_cell bg-info">
    Approved?
  </div>
</div>
