<div class="css_row">
  <div class="css_cell"></div>
  <div class="css_cell"></div>
  <div class="css_cell"></div>
  <div class="css_cell"></div>
  <div class="css_cell css_title_cell bg-info">
    Total Hours:
  </div>
  <div class="css_cell css_title_cell bg-info">
    <%= timesheets_total_hours(timesheets) %>
  </div>
  <div class="css_cell"></div>
</div>
