<% provide(:title, "Edit Timesheet") %>

<div class="form_wrapper" id="edit-timesheet-panel">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>
        Edit Timesheet
      </h4>
    </div>
    <div class="panel-body">
      <%= render "form" %>
    </div>
  </div>
</div>
