#companies-wrapper {
  text-align: center;
}

#new-archived-companies-buttons-wrapper {
  margin-top: 0.5em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  margin-bottom: 3.5em;
}

#new-company-button-wrapper {
  float: left;
}

#archived-companies-button {
  float: right;
}

.company-fields {
  width: 50%;
}

.company-form-panel {
  width: 70%;
  margin: 0 auto;
}

.back-button {
  float: left;
}
