.top-offset-label {
  margin-top: 1em;
}

#pay-field {
  margin-bottom: -1em;
}

#jobs-wrapper {
  text-align: center;
}

#new-archived-job-buttons-wrapper {
  margin-top: 0.5em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  margin-bottom: 3.5em;
}

#new-job-button-wrapper {
  float: left;
}

#archived-jobs-button {
  float: right;
}

.job-fields {
  width: 50%;
}

.job-form-panel {
  width: 70%;
  margin: 0 auto;
}
