.next-pay-dates-container {
  margin-top: 5px;
}

#employee-home-container {
  margin-left: 1%;
  text-align: center;
}

.panel-body div h3 {
  margin-top: 0;
}

.pay-date-text {
  font-size: 70%;
  background-color: #E3E3E3;
  margin-left: 1.75%;
}

#pay-dates-panel {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#home-body {
  background: url("https://s3.amazonaws.com/fountainhouse-bucket/ny-street.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}

.jumbotron {
  width: 60%;
  margin: 10px auto;
  text-align: center;
  border-radius: 6px;
}
