.status_button {
  width: 40px;
  height: 34px;
}

.status_approved {
  background-color: #dff0d8 !important;
}

.status_unapproved {
  background-color: #f2dede !important;
}

#status_button_text {
  font-size: 16pt;
  font-weight: bold;
}

#pay-period-notes-form-wrapper {
  display: none;
}

#edit-notes-toggler {
  margin: 0.5%;
}

#notes-panel {
  margin-right: 7%;
  margin-left: 7%;
}

#new-timesheet-button-container {
  text-align: left;
  margin-top: 1em;
  margin-left: 0.65em;
  margin-bottom: 1em;
}

.pay-period-line {
  font-weight: bold;
}

#timesheets-pay-periods-container {
  text-align: center;
}

#pay-periods-table-main {
  width: 50%;
  margin: auto;
}

#pay-periods-panel {
  width: 26em;
  margin: auto;
}

#timesheets-header-container {
  text-align: center;
}
