.status_button {
  width: 40px;
  height: 34px;
}

.status_approved {
  background-color: #dff0d8 !important;
}

.status_unapproved {
  background-color: #f2dede !important;
}

#status_button_text {
  font-size: 16pt;
  font-weight: bold;
}

#pay-period-notes-form-wrapper {
  display: none;
}
