#users-wrapper {
  text-align: center;
}

#new-archived-users-buttons-wrapper {
  margin-top: 0.5em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  margin-bottom: 3.5em;
}

#new-user-button-wrapper {
  float: left;
}

#archived-users-button {
  float: right;
}

.user-fields {
  width: 50%;
}

.user-form-panel {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.back-button {
  float: left;
}
