<li class="dropdown">
  <a href="#" class="dropdown-toggle"
    data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    My Companies <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% current_user_companies.each do |company| %>
      <% unless company == current_user_companies.first %>
        <li role="separator" class="divider"></li>
      <% end %>
      <li>
        <%= link_to company.title,
          jobs_path(company_id: company.id) %>
      </li>
    <% end %>
  </ul>
</li>
