<li class="dropdown">
  <a href="#" class="dropdown-toggle"
    data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    My Jobs <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% current_user_jobs.each do |job| %>
      <% unless job == current_user_jobs.first %>
        <li role="separator" class="divider"></li>
      <% end %>
      <li>
        <%= link_to "#{job.title} - #{job.company.title}",
          timesheets_path(job_id: job.id) %>
      </li>
    <% end %>
  </ul>
</li>
